# Syncthing API credentials
# Copy this to secrets.yaml and encrypt with: sops -e -i secrets.yaml
#
# To decrypt and view: sops -d secrets.yaml
# To edit in place: sops secrets.yaml

# Host credentials (from registration)
desktop-apikey: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
flowX13-apikey: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

